<div class="recognition">
  <div class="container-md">
    <h3 class="mb-1">Awards</h3>
    <div class="list-group">
      {%- assign awards = site.data.recognition | where: "category", "Award" -%}
      {%- assign sorted_awards = awards | sort: "year" | reverse -%}
      {%- for award in sorted_awards -%}
      <div class="list-group-item border-0 px-0 py-2">
          <div class="pe-3 flex-grow-2">
            {%- if award.url -%}
            <h6 class="mb-1 text-primary">
              <a href="{{ award.url }}" target="_blank" rel="noopener noreferrer">{{ award.name }}</a>
            </h6>
            {%- else -%}
            <h6 class="mb-1 text-primary">{{ award.name }}</h6>
            {%- endif -%}
            <p class="mb-1">{{ award.award }}</p>
            {%- if award.co_inventors -%}
            <small class="text-muted">Co-inventors: {{ award.co_inventors }}</small>
            {%- endif -%}
          </div>
          <div class="text-end">
            {%- if award.year != "" -%}
            <small style="min-width: 3rem;">{{ award.year }}</small>
            {%- endif -%}
          </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<style>

  html[data-theme="dark"] .list-group .list-group-item {
    background: var(--code-bg-color-dark) !important;
  }
</style>
